<div id="status-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div style="border-radius: 20px;" class="modal-content">
      <div style="height: fit-content; border-radius: 20px;" class="modal-header">
        <%= user.status_action_text %>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
    </div>
  </div>
</div>
