<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="container">
<%= form_tag posts_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Search here!"
  %>
</div>
<div>
  <%= submit_tag "Search", class: "btn btn-flat" %>
  <% end %>
</div>
