.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  border: 1px, solid, grey;
  align-items: center;

}

.card-product img {
  height: 92%;
  width: 120px;
  object-fit: cover;
  border-radius: 40%;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: black;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: black;
}



.card-tags {
    height: 50px;
    background:  #f3f0f0;
    border-radius: 10px;
    width: fit-content;
    display: flex;
    margin-right: 12px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 5px;
    font-family: Nunito, sans-serif;
}


.card-tags h2 {
  font-size: 15px;
  font-weight: 700;
  font-family: Nunito, sans-serif;
  text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    margin-left: 10px;
    margin-top: 10px;
    padding-bottom: 15px;
}

.card-tags-members {
    background:  #f3f0f0;
    border-radius: 10px;
    width: fit-content;
    display: flex;
    margin-right: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 5px;
    font-family: Nunito, sans-serif;
    display:inline-table;
}

.wrapper-members {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    margin-left: 10px;
    margin-top: 10px;
    padding-bottom: 15px;
    height: 250px;
}

// .card-tags-p h2 {
//   font-size: 14px;
//   font-weight: 300;
//   font-family: Nunito, sans-serif;
//   text-align: center;
// }

.card-tags-members img {
  height: 50px;
  width: 50px;
  border-radius: 40px;
  display: flex;
  margin: 0 auto;
  
}

.card-tags-members h2 {
  font-size: 15px;
  font-family: Nunito, sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: black;
  text-align: center;
  margin-top: 5px;
  
}

