// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

*,
*:after,
*:before {
  box-sizing: border-box;
}


body {
  font-family: Nunito, sans-serif;
  color: #303030;
  background-color: mix(#fff, rgba(#342ead, 0.1), 95%);
}

.menu {
  z-index: 1000;
  display: flex;
  flex-grow: 1;
  height: 72px;
  width: 100%;
  border-radius: 4px;
  overflow-x: hidden;
  background-color: #fff;
  // box-shadow: 0 0 1px 0 rgba(#342ead, 0.1), 0 15px 30px 0 rgba(#342ead, 0.1);
  position: fixed;
  bottom: -1px;
}

.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-decoration: none;
  &:focus,
  &:hover {
    outline: none;
    text-decoration: none;
    .material-icons {
      font-family: Open Sans;
      color: #167FFB;
    }

    .menu-item-label {
      color: #167FFB;
    }
  }
}

.material-icons {
  font-family: Open Sans;
  display: block;
  margin-bottom: 4px;
  font-size: 26px;
  color: mix(#fff, #167FFB, 5%);
  transition: 0.25s ease;
}

.menu-item-label {
  display: block;
  font-size: 13px;
  color: mix(#fff, #167FFB, 5%);
  transition: 0.25s ease;
}

a.active-page {
  border: 3px solid #167FFB;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
}

.banner-me {
  text-align: center;
  font-weight: 900;
  font-size: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  z-index: 1000;

}
