.new-searchbar {
border-radius: 10px;
background-color: #fffef8;
border-color: blue;
border-width: 2px;

}

.btn-search {
  color: blue;
  border: 2px solid blue;
  padding: 8px 24px;
  border-radius: 50px;
  background-color: #fffef8;
}

.search-result-text {
  text-align: center;
  font-style: bold;
  margin-top: 5vh;
}
