.new-searchbar {
border-radius: 50px;
background-color: #f3f0f0;
height: fit-content;
border: 0px;

}

.btn-search {
  color: blue;
  padding: 5px 10px;
  border-radius: 50px;
  background-color: #f3f0f0;
  font-size: 21px;

}

.search-result-text {
  text-align: center;
  font-style: bold;
  margin-top: 5vh;
}
